{% extends 'core/admin_dashboard.html' %}
{% load static %}
{% block admin_content %}
<main class="mt-5">
    <section class="pt-5 floating-abs">
        <section class="event-header-image w-100">
            <div class="profile-image rounded-circle mx-auto mb-5 mt-5" style="width: 200px; height: 200px; overflow: hidden;">
                <img src="{{ object.poster.url }}" alt="poster" style="width: 100%; height: auto;">
            </div>
        </section>
        <section class="event-title">
            <h1 class="h1 text-center text-uppercase">{{ event.title }}</h1>
        </section>
        <section class="event-body container mt-4">
            <p>{{ event.detail }}</p>
        </section>
        {% include "core/includes/floating_button.html" %}
    </section>
</main>
{% endblock admin_content %}