{% extends 'core/admin_dashboard.html' %}
{% load static %}
{% block admin_content %}
<main class="mt-5 container-fluid pb-5">
    <section class="list-wrapper pt-5 floating-abs ">
        <div class="list-wrapper-content">
            <div class="profile-image rounded-circle mx-auto mb-5 mt-5" style="width: 200px; height: 200px; overflow: hidden;">
                <img src="{{ object.profile_image.url }}" alt="profile_image" style="width: 100%; height: auto;">
            </div>
            <div class="card" style="margin-top: 4rem;">
                <div class="card-body">
                    <ul class="list-group list-group-flush p-0">
                        <li class="list-group-item">
                            <small class="text-muted">Username</small><br>
                            <h6 class="h6">{{ object.user.username }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">First Name</small><br>
                            <h6 class="h6">{{ object.first_name }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Last Name</small><br>
                            <h6 class="h6">{{ object.last_name }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Age</small><br>
                            <h6 class="h6">{{ object.age }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Height</small><br>
                            <h6 class="h6">{{ object.height }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Weight</small><br>
                            <h6 class="h6">{{ object.weight }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Nationality</small><br>
                            <h6 class="h6">{{ object.nationality }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Player Position</small><br>
                            <h6 class="h6">{{ object.player_position }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Preferred Foot</small><br>
                            <h6 class="h6">{{ object.preferred_foot }}</h6>
                        </li>
                        {% if object.previous_club != "N/A" %}
                        <li class="list-group-item">
                            <small class="text-muted">Previous Club</small><br>
                            <h6 class="h6">{{ object.previous_club }}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="lhs">
                                <small class="text-muted">Previous Start Date</small><br>
                                <h6 class="h6">{{ object.previous_club_start }}</h6>
                            </div>
                            <div class="right">
                                <small class="text-muted">Previous End Date</small><br>
                                <h6 class="h6">{{ object.previous_club_finish }}</h6>
                            </div>
                        </li>
                        {% endif %}
                        {% if object.current_club != "N/A" %}
                        <li class="list-group-item">
                            <small class="text-muted">Previous Club</small><br>
                            <h6 class="h6">{{ object.current_club }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Previous Start Date</small><br>
                            <h6 class="h6">{{ object.current_club_start_date }}</h6>
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <small class="text-muted">Awards</small><br>
                            <h6 class="h6">{{ object.awards }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">hobbies</small><br>
                            <h6 class="h6">{{ object.hobbies }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">educational qualification</small><br>
                            <h6 class="h6">{{ object.educational_qualification }}</h6>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">referees</small><br>
                            <h6 class="h6">{{ object.referees }}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- floating button -->
        {% include "core/includes/floating_button.html" %}

    </section>
    </a>
</main>
{% endblock admin_content %}