{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/includes/header.html' %}
<main>
    <div class="banner">
        <div class="banner-content">
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="https://ik.imagekit.io/darrlqkbs4a/pexels-pixabay-47730_-ALB5F9cuh.jpg?updatedAt=1626129135036"
                                    loading="lazy">
                                <div class="banner-text">
                                    <div class="container">
                                        <h1 class="display-1 text-light text-uppercase text-center">Home <br>of <br>ballers </h1>
                                        <p class="text-center text-light mt-5 hero-text">
                                            <a href="#about" class="text-light">
                                                <i
                                                    class="fa fa-arrow-circle-down fa-2x animate__animated animate__bounce animate__repeat-3">
                                                </i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="https://ik.imagekit.io/darrlqkbs4a/1_zs3lFGnth.jpg?updatedAt=1627316504045"
                                    loading="lazy">
                                <div class="banner-text">
                                    <div class="container">
                                        <h1 class="h1 text-light text-capitalize text-center">Network connection of
                                            Players, Coaches, Scouts, and Agents</h1>
                                        <p class="text-center text-light mt-5 hero-text">
                                            <a href="#about" class="text-light">
                                                <i
                                                    class="fa fa-arrow-circle-down fa-2x animate__animated animate__bounce animate__repeat-3">
                                                </i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="https://ik.imagekit.io/darrlqkbs4a/2_f56C_tI46.jpg?updatedAt=1627316505970"
                                    loading="lazy">
                                <div class="banner-text">
                                    <div class="container">
                                        <h1 class="h1 text-light text-capitalize text-center">Scientific, Technical and
                                            Tactical education for ballers</h1>
                                        <p class="text-center text-light mt-4">
                                            <a href="#about" class="text-light">
                                                <i
                                                    class="fa fa-arrow-circle-down fa-2x animate__animated animate__bounce animate__repeat-3">
                                                </i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="splide__slide__container">
                                <img src=https://ik.imagekit.io/darrlqkbs4a/3_fvOHg1GlvY.jpg?updatedAt=1627316508644"
                                    loading="lazy">
                                <div class="banner-text">
                                    <div class="container">
                                        <h1 class="h1 text-light text-capitalize text-center">Promotion/<br>Publicity
                                        </h1>
                                        <h1 class="h1 text-light text-capitalize text-center">of</h1>
                                        <h1 class="h1 text-light text-capitalize text-center">Players, Clubs, Academies
                                            and Agencies</h1>
                                        <p class="text-center text-light mt-4">
                                            <a href="#about" class="text-light">
                                                <i
                                                    class="fa fa-arrow-circle-down fa-2x animate__animated animate__bounce animate__repeat-3">
                                                </i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- about -->
    <section id="about" class="pt-5">
        <div class="about-content container p-5">
            <div class="row justify-content-evenly">
                <div class="col-sm-12 col-md-6">
                    <div class="about-image-wrapper d-flex justify-content-center align-items-center  h-100">
                        <img src="{% static 'images/private-nook.adda9d99ef9f132c9d613f520e300fea.png' %}"
                            alt="light bulb" class=" w-50" loading="lazy">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="about-text-wrapper">
                        <h3 class="h3 text-muted text-center">About</h3>
                        <p class="text-muted animate__animated animate__fadeInRight text-center"
                            style="line-height: 2.5rem;">
                            Home Of Ballers is a firm dedicated in the development of Grassroot Football in Africa
                            through enlisting the most professional practices and a personalized management workstation
                            to help Educate, Promote, Mobilize, Brand & Inspire soccer development and participation on
                            a professional level.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Who We Are -->
    <section id="who_we_are" class="bg-light">
        <div class="about-content container p-5">
            <div class="row justify-content-evenly align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="about-text-wrapper">
                        <h3 class="h3 text-muted text-center order-md-12">What We Do</h3>
                        <ul class="text-muted animate__animated animate__fadeInRight text-center us_list_group"
                            style="line-height: 2.5rem;">
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Mentorship/Consultation</small>
                            </li>
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Promotion/Publicity of Players, Clubs, Academies and Agencies.</small>
                            </li>
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Creation of Professional profiles for Players.</small>
                            </li>
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Creation of Professional video clips for Players, Clubs and Academies.</small>
                            </li>
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Provision of education/developmental materials for Players.</small>
                            </li>
                            <li class="d-flex justify-content-center text-muted align-items-center">
                                <img src="{% static 'images/success.svg' %}" alt="check icon" width="20px" height="20px"> 
                                <small>Network connection of Players, Coaches, Scouts, and Agents.</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 order">
                    <div class="about-image-wrapper d-flex justify-content-center align-items-center  h-100">
                        <img src="{% static 'images/Integrate.svg' %}"
                            alt="light bulb" class=" w-100" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- products and services -->
    <section class="products pt-2" id="products">
        <div class="product-content">
            <!-- Mentorship  -->
            <section class="mentorship container">
                <h2 class="text-center h2 text-dark animate__animated animate__zoomIn text-uppercase">Mentorship
                    Program</h2>
                <div class="row justify-content-center align-items-center" style="overflow: hidden;">
                    <div class="col-sm-12 col-md-3">
                        <div class="card contract-card mt-5">
                            <div class="card-body mt-5">
                                <div class="figure-heading d-flex justify-content-center">
                                    <h4 class="text-dark text-center display-1">1</h4>
                                </div>
                                <ul class="list-group-list list-group-flush p-0">
                                    <li class="list-group-item">
                                        <h3 class="h4 text-dark text-center">Year</h3>
                                    </li>
                                    <li class="list-group-item">
                                        <h3 class="text-dark text-center mt-3">$50</h3>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer d-flex justify-content-center bg-primary">
                                <a href="{% url 'mentorship' '1-year' %}" class="btn btn-light w-50 p-0 mx-auto">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Education -->
            <section class="education mt-5 d-flex justify-content-center align-items-center">
                <div class="education-content">
                    <h2 class="text-center font-weight-bold animate__animated animate__fadeInUp text-uppercase">
                        Education
                    </h2>
                    <div class="edu-text">
                        <p class="animate__animated animate__slideUp animate__animated animate__fadeInUp">
                            Daily Football Career Guide Broadcast $3 (Monthly)
                            You will be getting Professional guides directly on your WhatsApp, on how to go about your
                            Football Career on a daily basis.
                        </p>
                        <div class="pay-btn-wrapper d-flex justify-content-center align-items-center mt-4">
                            <a href=""
                                id="educationBtn"
                                class="btn btn-secondary rounded-left rounded-right rounded-top rounded-bottom w-50">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- master class -->
            <section class="master-class pt-5 text-dark bg-light">
                <div class="mclass-content container">
                    <h2 class="text-center text-uppercase h1">
                        HOBS 3 Days Master</h2>
                    <h4 class="text-center lead"><b>Class (once every month)</b></h4>
                    <div class="mclass-text mt-4">
                        <p class="text-center">
                            The HOBS Master Class is a 3 days Professional and Practical class held for Players.
                        </p>
                        <p class="text-center">
                            The Teachers of these Master Class are Football Coaches, Scouts, Agents and consultants
                            <i><b>Registration Fee: $15</b></i>
                        </p>
                    </div>
                </div>
            </section>

            <!-- publicity contract -->
            <section class="contract pt-5 text-light particle-bg">
                <div class="contract-content container">
                    <h2 class="text-center text-uppercase h3 text-dark">Publicity Contract</h2>
                    <!-- Academies -->
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4 mt-2 mt-4">
                            <div class="card contract-card animate__animated animate__fadeInUp text-primary">
                                <div class="card-header bg-primary text-muted text-center">
                                    <p class="h4 text-light">Academies</p>
                                </div>
                                <div class="card-body pt-4">
                                    <div class="border rounded-circle d-flex align-items-center justify-content-center"
                                        style="height: 100px; width: 100px; margin: auto;">
                                        <p class="text-center h2 text-primary">$125</p>
                                    </div>
                                    <div class="publicity-duration mt-4">
                                        <p class="p-0 m-0 text-center text-primary h4">1</p>
                                        <p class="text-center text-primary">Year</p>
                                    </div>
                                    <div class="mt-4 bg-danger custom-card-button">
                                        <a href="{% url 'academy_publicity' '1-year' '372' %}"
                                            class="btn btn-primary w-100 mx-auto text-align-center"> View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contract-note mt-5 mb-5">
                        <small class="text-ceter">
                            <b>Note</b> The exchange rate for Nigerians are $1 = N350
                        </small>
                    </div>
                </div>
            </section>

            <!-- consultation -->
            <section class="consultation pt-5 ">
                <div class="consultation-content container">
                    <h2 class="text-center font-weight-bold animate__animated animate__zoomIn text-uppercase">
                        Consultation
                    </h2>
                    <div class="consulation-text text-center mt-5">
                        <p>
                            1 Hour With The Boss $15
                        </p>
                        <p>
                            The 1 Hour With The Boss is a scheduled appointment <br> with Chidi J. Myles for a special
                            one on
                            one consultation service.
                        </p>
                        <a href="" class="btn btn-light" id="consultBtn">
                            Get Started
                        </a>
                    </div>
                </div>
            </section>

            <!-- Booking -->
            <section class="booking pt-5">
                <div class="booking-content container">
                    <div class="row justify-content-evenly">
                        <div class="col-sm-12 col-md-6">
                            <div class="about-text-wrapper p-5">
                                <h3 class="h3 text-muted text-center">Booking</h3>
                                <p class="text-muted text-justified animate__animated animate__fadeInLeft text-center"
                                    style="line-height: 2.5rem;">
                                    If you intend inviting Chidi J. Myles for a speaking engagement, depending on the
                                    engagement
                                    there will be charges attached.
                                    On charity events, Chidi J. Myles has volunteered to be speaking for free as long as
                                    all
                                    logistics are taken care of by organizers.
                                </p>
                                <div class="download-btn d-flex justify-content-center">
                                    <a href="{% url 'download_booking_form' %}" class="rounded-btn-fill">
                                        <i class="fa fa-download"></i>
                                        download contract
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="about-image-wrapper d-flex justify-content-center align-items-center">
                                <img src="{% static 'images/permission_to_use_illustration.svg' %}" alt="illustration"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
<footer class="bg-primary d-flex justify-content-center f-3 pt-4 pb-4">
    <div>
        <span class="text-center mt-3"><a href="https://www.homeofballers.com/" class="text-light nav-link">&copy;
                <script>document.write(new Date().getFullYear())</script> Home Of Baller
            </a>
        </span>
        <div class="links d-flex justify-content-around">
            <a href="https://www.facebook.com/homeofballers1/" target="_blank"><i class="fab fa-facebook text-light fa-2x"></i></a>
            <a href="https://www.instagram.com/homeofballer1/" target="_blank"><i class="fab fa-instagram text-light fa-2x"></i></a>
            <a href="https://t.me/homeofballers1" target="_blank"><i class="fab fa-telegram text-light fa-2x"></i></a>
        </div>
    </div>
</footer>
{% endblock %}