{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/includes/header.html' %}
<main class="mt-5 container-fluid floating-abs">
    <section class="list-wrapper pt-5">
        <div class="list-wrapper-content">
            <div class="list container">
                <ul class="list-group list-group-flush">
                    {% for object in object_list %}
                    <li class="list-group-item p-2">
                        <div class="lhs d-flex align-items-center">
                            <div class="profile-image-preview rounded-top rounded-right rounded-bottom rounded-left"
                                style="height: 60px; width: 60px; overflow: hidden;">
                                <img src="{{ object.profile_image.url }}" alt="profile_image"
                                    style="height: 100%; width: 100%;">
                            </div>
                            <div class="player-detail">
                                <div class="d-flex w-100">
                                    <div class="lhs">
                                        <b class="text-dark">{{ object.first_name }} {{ object.last_name }}</b> <br>
                                        <small class="text-muted">{{ object.nationality }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        <h1 class="h4">Sorry there are no players yet</h1>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </section>
</main>
{% endblock %}