* {
  --dark: #333;
  --light: #f5f7f7;
  --blue: #0190df
  --white: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--light);
}

.splide__arrow splide__arrow--next,
.splide__arrow splide__arrow--prev{
  opacity: 1;
}

/* nav */
nav {
  width: 100%;
  padding: 5px 10px;
  height: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav a {
  color: blue !important;
}

/* banner */
.banner .banner-text {
  /* height: inherit; */
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner .banner-text h1 {
  /* height: inherit; */
  position: relative;
  font-weight: bolder;
  letter-spacing: 10px;
  z-index: 5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  display: flex;
  height: 100vh;
}

.banner-text img {
  width: 100%;
  height: auto;
}

/* Products */
.products {
  padding: 30px 0px;
  background: var(--white);
}
.card.product-card {
  border: none;
  box-shadow: 1px 2px 15px #ddd;
  height: 80vh;
}

/* Education */
.education {
  background-image: url("https://ik.imagekit.io/darrlqkbs4a/mic_076VTQjcNF.jpg?updatedAt=1626129142984");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  text-align: center;
  color: #fff;
}
.edu-text {
  width: 70vw;
  margin: 0 auto;
}
.edu-text p {
  line-height: 2em;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* master class */
.master-class {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* publicity contract */
.contract {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--dark); */
  /* height: 80vh; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.contract-card {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #bbb;
  height: 70vh;
  overflow: hidden;
}
@media(max-width: 576px){
  .contract-card {
    margin: 20px 0px;
    height: 55vh !important;
    width: 70% !important;
    margin: auto;
  }
}

/* consultations */
.consultation {
  background-image: url("https://ik.imagekit.io/darrlqkbs4a/consult_K1x9uKPVf.jpg?updatedAt=1627314976517");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  position: relative;
  z-index: 5;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consultation::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

/* Form */
.form-wrapper {
  border-radius: 10px;
  box-shadow: 1px 1px 10px #eee, -1px -1px 10px #eee;
  padding: 10px;
}

/* Dashboard */
.db-header {
  /* background: var(--blue); */
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  box-shadow: 1px 2px 10px #e7e1e1;
  padding: 25px 10px;
}

/* floating button */
.floating-abs {
  position: relative;
  height: 90vh;
  /* background: blue; */
}
.floating-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.floating-btn:hover {
  cursor: pointer;
}

/* search */
.list-search-content {
  border: 1px solid #bbb;
  border-radius: 30px;
  width: 60%;
  margin: auto;
  margin: 40px auto;
  overflow: hidden;
}

.list-search-content input {
  width: 85%;
  border: none;
  background: transparent;
  padding: 6px 14px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list-search-content input::placeholder {
  color: #333;
}

.list-search-content button {
  flex: 1;
  /* width: 10%; */
  border: none;
  background: transparent;
  margin-left: 25px;
  /* padding: 6px 4px; */
}


/* profile image */
.profile-image-preview{
  width: 40px;
  height: 40px;
  margin-right: 10px;

}

.profile-image-preview img{
  width: 100%;
  height: auto;
}

/* custom card */
.custom-card-button{
  width: 100px;
  border-radius: 20px;
  margin: 12px auto;
}

/* Particle Background */
.particle-bg{
  background-image: url('/static/images/brand-background-pattern-top-blue-node.svg');
}

/* Polygon background */
.polygon-bg{
  background-image: url('/static/images/plygonluminary.svg');
}

/* download publicity contract button */
.rounded-btn{
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: .5s;
}

.rounded-btn:hover{
  background: var(--blue);
  color: var(--white);
}

.rounded-btn-fill{
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  transition: .5s;
  background-color: var(--blue);
}

.rounded-btn-fill:hover{
  color: var(--light);
}


/* =====================[ Events ] ========================== */
.event-card{
  height: 230px;
  width: 400px;
  margin: auto;
  overflow: hidden;
  transition: 1s;
}
.event-card:hover .card-img-overlay{
  background: rgba(0, 0, 0, 0.5);
}
.event-card:hover .event-image{
  transition: 1s;
  transform: scale(2);
}
.event-card:hover .view-btn{
  background: var(--white);
  color: var(--dark);
}
.view-btn{
  border: 1px solid var(--white);
  border-radius: 50px;
  color: var(--white);  
  padding: 5px;
  text-align: center;
  transition: .5s;
}
.event-card-text{
  position: absolute;
  bottom: 20px;
}