{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/includes/header.html' %}
<style>
    .checkout-form {
        width: 60vw;
        padding: 20px;
        background: #fff;
    }

    .checkout-input {
        height: 40px;
        width: 100%;
        background: rgba(255, 255, 255, 0.35);
    }

    .checkout-submit {
        width: 100%;
        height: 40px;
        background-color: var(--blue);
        text-align: center;
        color: #fff;
    }
</style>
<main>
    <!-- products and services -->
    <section class="checkout-wrapper pt-5" id="products">
        <div class="checkout-content d-flex justify-content-center align-items-center" style="height: 90vh;">
            <form class="checkout-form" id="checkoutForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% block form_fields %}
                    <h3 class="h3 text-muted">Checkout</h3>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"  id="name" name="name" class="checkout-input form-control"
                        value="{{ NAME }}" disabled>
                    <label for="">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"  id="name" name="email" class="checkout-input form-control"
                        value="{{ EMAIL}}" disabled>
                    <label for="">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"  id="package" name="package" class="checkout-input form-control"
                        value="{{ PACKAGE }}" disabled>
                    <label for="">Package</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="price" name="price" class="checkout-input form-control"
                    value="${{ PRICE }}" disabled>
                    <label for="">Price</label>
                </div>
                {% endblock form_fields %}
                <div class="form-group">
                    <input type="submit" value="Proceed To Payment" class="checkout-submit btn h-50">
                </div>
            </form>
        </div>
    </section>
</main>
<script>
    let checkoutForm = document.querySelector("#checkoutForm")
    checkoutForm.addEventListener('submit', function(event) {
        event.preventDefault()
        const key = "{{ PAYSTACK_PUBLIC_KEY }}"
        const amount = parseInt("{{ PRICE }}") * 400 * 100
        const email = '{{ EMAIL }}'
        const academy = "{{ NAME }}"
        const duration = "{{ PACKAGE }}"
        const relEndPoint = "{{ CALLBACK_ENDPOINT }}" //relative endpoint
        console.log(relEndPoint, email, key, amount, academy, duration)
        makePayment(key, email, amount, academy, duration, relEndPoint)
    })

    function makePayment(key, email, amount, academy, duration, relEndPoint, ref) {
        ref = ref || parseInt(Math.random() * 10000)
        var handler = PaystackPop.setup({
            key: key, // This is your public key only! 
            email: email, // Customers email
            amount: amount,
            ref: ref,
            metadata: { // More custom information about the transaction
                custom_fields: [
                    {
                        "academy": academy,
                        "duration": duration
                    }
                ]
            },
            callback: function (response) {
                const baseURL = `${location.protocol}//${location.host}`
                const endPoint = `${baseURL}${relEndPoint}`
                let cookie = document.cookie
                let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
                
                try{
                    fetch(endPoint, {
                        method: "POST",
                        body : JSON.stringify({
                            "txref": response.txref,
                            "academy": academy,
                            "email": email,
                            "status": response.status,
                            "duration": duration,
                            "transaction" : response.transaction,
                            "amount" : amount,
                            "ref" : ref,
                            "trxref" : response.trxref
                        }),
                        credentials : 'include', 
                        credentials : 'same-origin', 
                        headers : {
                            "X-CSRFToken": getCookie("csrftoken"),
                        }
                    })
                    .then( data => data.json())
                    .then((res) => {
                        if (res.data) {
                            setTimeout(() => location.href = "{{ SUCCESS_URL }}", 1000)
                        }
                        console.log(res)
                    })
                }
                catch(err){
                    console.error("could not complete transaction", err)
                }
            },
            onClose: function () {
                alert('window closed');
            }
        });
        // Payment Request Just Fired  
        handler.openIframe();
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;}
</script>
{% endblock %}
