{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/includes/header.html' %}
<main class="mt-5">
    <section class="pt-5">
        <section class="event-header-image">
            <img src="{{ event.poster.url }}" alt=" event image" class="w-25 mx-atuo">
        </section>
        <section class="event-title">
            <h1 class="h1 text-center text-uppercase">{{ event.title }}</h1>
        </section>
        <section class="event-body container">
            <p>{{ event.detail }}</p>
        </section>
    </section>
</main>
{% endblock content %}